body {
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    p.dotted {border-style: dotted;}
    p.double {border-style: double}
}

a:link {
    color:aliceblue;
}

img {
    width: 500px;
    border: 5px dotted lightpink;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    position: absolute;
    top: 0;
    margin: 20px;
    a:before {
    content: " "; 
    display: inline-block; 
    width: 32px;
    }
    text-align:left;
    align-content:normal;
}